<components>
  <component>
    <name>Container</name>
    <template>
      <div class="container"></div>
    </template>
    <selector>div.container</selector>
  </component>

  <component>
    <name>Grid Row</name>
    <template>
      <div class="row"></div>
    </template>
    <selector>div.row</selector>
  </component>

  <component>
    <name>Grid Column</name>
    <template>
      <div class="col-sm-6"></div>
    </template>
    <selector>
      div[class*='col-xs-'], div[class*='col-sm-'],
      div[class*='col-md-'], div[class*='col-lg-']
    </selector>
    <admin>
      <div class="form-group">
        <label for="optionsGridColumnWidth">Column width</label>
        <select id="optionsGridColumnWidth" ng-model="options.width"
          ng-options="k for k in options.widths" ng-change="change()">
        </select>
      </div>
      <div class="form-group">
        <label for="optionsGridColumnDevices">Collapse on</label>
        <select id="optionsGridColumnDevices" ng-model="options.devices"
          ng-change="change()">
          <option value="lg">all small and medium screens</option>
          <option value="md">tablets and phones</option>
          <option value="sm">phones only</option>
          <option value="xs">neither</option>
        </select>
      </div>
    </admin>
    <admin-script>
      var classes = [];
      var currentDeviceWidthClass = '';

      scope.options.widths = Array.apply(0, Array(12)).map(function (x, i) {
        return i + 1 + '';
      });

      // Gets all the column classes of the element.
      scope.selection.attr('class').split(' ').forEach(function (c) {
        if (c.indexOf('col-') === 0) {
          c = c.split('-');
          classes.push({
            devices: c[1],
            width: c[2]
          });
        }
      });

      // Gets the width and column type of the current element.
      ['xs', 'sm', 'md', 'lg'].some(function (t) {
        classes.some(function (c) {
          if (c.devices === t) {
            scope.options.devices = c.devices;
            scope.options.width = c.width;
            currentDeviceWidthClass = 'col-' + c.devices + '-' + c.width;
            return true;
          }
        });
      });

      // Updates the selection classes.
      scope.update = function () {
        var newDeviceWidthClass = 'col-' + scope.options.devices + '-' +
                                  scope.options.width;

        scope.selection.removeClass(currentDeviceWidthClass)
          .addClass(newDeviceWidthClass);

        currentDeviceWidthClass = newDeviceWidthClass;
      };
    </admin-script>
  </component>

  <component>
    <name>Heading</name>
    <template>
      <h1>This is a heading.</h1>
    </template>
    <selector>h1, h2, h3, h4, h5, h6</selector>
    <admin>
      <div class="form-group">
        <label for="optionsHeadingType">Type</label>
        <select id="optionsHeadingType" ng-model="options.type"
          ng-options="k.value as k.label for k in options.types"
          ng-change="change()">
        </select>
      </div>
    </admin>
    <admin-script>
      scope.options.types = Array.apply(0, Array(6)).map(function (x, i) {
        var j = i + 1;
        return {value: 'H' + j, label: 'heading ' + j};
      });
      scope.options.type = scope.selection.prop('nodeName');

      scope.update = function () {
        var newElement = document.createElement(scope.options.type);
        newElement = angular.element(newElement);
        newElement.append(scope.selection.contents());
        scope.selection.replaceWith(newElement);
        scope.select(newElement);
      };
    </admin-script>
  </component>

  <component>
    <name>Paragraph</name>
    <template>
      <p>This is a paragraph.</p>
    </template>
    <selector>p</selector>
  </component>

  <component>
    <name>Address</name>
    <template>
      <address>
        <strong>Full Name</strong><br>
        000 Fake Ave, Suite 000<br>
        San Francisco, CA 00000<br>
        USA
        <abbr title="Phone">P:</abbr> (123) 456-7890<br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
    </template>
    <selector>address</selector>
  </component>

  <component>
    <name>Blockquote</name>
    <template>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer posuere erat a ante.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </blockquote>
    </template>
    <selector>blockquote</selector>
  </component>

  <component>
    <name>List</name>
    <template>
      <ul>
        <li>List item 1.</li>
        <li>List item 2.</li>
        <li>List item 3.</li>
      </ul>
    </template>
    <selector>ul, ol</selector>
    <admin>
      <div class="form-group">
        <label for="optionsListType">Type</label>
        <select id="optionsListType" ng-model="options.type"
          ng-options="k as v for (k,v) in options.types"
          ng-change="change()">
        </select>
      </div>
      <div class="form-group">
        <label for="optionsListStyle">Style</label>
        <select id="optionsListStyle" ng-model="options.style"
          ng-options="k for k in ['unstyled', 'inline']"
          ng-change="change()">
          <option value="">normal</option>
        </select>
      </div>
    </admin>
    <admin-script>
      scope.options.types = {UL: 'unordered', OL: 'ordered'};
      scope.options.type = scope.selection.prop('nodeName');

      if (scope.selection.hasClass('list-unstyled')) {
        scope.options.style = 'unstyled';
      } else if (scope.selection.hasClass('list-inline')) {
        scope.options.style = 'inline';
      }

      scope.update = function () {
        var newElement = document.createElement(scope.options.type);
        newElement = angular.element(newElement);
        newElement.append(scope.selection.contents());

        if (scope.options.style === 'unstyled') {
          newElement.removeClass('list-inline').addClass('list-unstyled');
        } else if (scope.options.style === 'inline') {
          newElement.removeClass('list-unstyled').addClass('list-inline');
        } else {
          newElement.removeClass('list-unstyled').removeClass('list-inline');
        }

        scope.selection.replaceWith(newElement);
        scope.select(newElement);
      };
    </admin-script>
  </component>

  <component>
    <name>Description</name>
    <template>
      <dl>
        <dt>Defined Term 1</dt>
        <dd>This is the definition of Term 1.</dd>
        <dt>Defined Term 2</dt>
        <dd>This is the definition of Term 2.</dd>
      </dl>
    </template>
    <selector>dl</selector>
    <admin>
      <div class="form-group">
        <label for="optionsDefinitionStyle">Style</label>
        <select id="optionsDefinitionStyle" ng-model="options.style"
          ng-options="k for k in ['normal', 'horizontal']"
          ng-change="change()">
        </select>
      </div>
    </admin>
    <admin-script>
      if (scope.selection.hasClass('dl-horizontal')) {
        scope.options.style = 'horizontal';
      } else {
        scope.options.style = 'normal';
      }

      scope.update = function () {
        if (scope.options.style === 'horizontal') {
          scope.selection.addClass('dl-horizontal');
        } else {
          scope.selection.removeClass('dl-horizontal');
        }
      };
    </admin-script>
  </component>

  <component>
    <name>Table</name>
    <template>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </template>
    <selector>table</selector>
  </component>

  <component>
    <name>Form</name>
    <template>
      <form role="form"></form>
    </template>
    <selector>form</selector>
  </component>

  <component>
    <name>Text Input</name>
    <template>
      <div class="form-group">
        <label>Text Input</label>
        <input type="text" class="form-control">
      </div>
    </template>
    <selector>input[type="text"]</selector>
  </component>

  <component>
    <name>Textarea</name>
    <template>
      <div class="form-group">
        <label>Textarea</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </template>
    <selector>textarea</selector>
  </component>

  <component>
    <name>Checkbox</name>
    <template>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Checkbox
          </label>
        </div>
      </div>
    </template>
    <selector>input[type="checkbox"]</selector>
  </component>

  <component>
    <name>Radio</name>
    <template>
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" value="1" checked>
            Radio Option 1
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" value="2">
            Radio Option 2
          </label>
        </div>
      </div>
    </template>
    <selector>input[type="radio"]</selector>
  </component>

  <component>
    <name>Select</name>
    <template>
      <div class="form-group">
        <label>Select</label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </template>
    <selector>select</selector>
  </component>

  <component>
    <name>Button</name>
    <template>
      <button type="button" class="btn btn-default">Button</button>
    </template>
    <selector>.btn</selector>
  </component>

  <component>
    <name>Image</name>
    <template>
      <img src="http://placehold.it/100x100" alt="">
    </template>
    <selector>img</selector>
    <admin>
      <div class="form-group">
        <label for="optionsImageSrc">URL</label>
        <input type="text" id="optionsImageSrc" ng-model="options.src"
          ng-change="change()">
      </div>
      <div class="form-group">
        <label for="optionsImageResponsive">Responsive</label>
        <select id="optionsImageResponsive" ng-model="options.responsive"
          ng-options="k for k in ['yes', 'no']" ng-change="change()">
        </select>
      </div>
    </admin>
    <admin-script>
      scope.options.src = scope.selection.attr('src');

      if (scope.selection.hasClass('img-responsive')) {
        scope.options.responsive = 'yes';
      } else {
        scope.options.responsive = 'no';
      }

      scope.update = function () {
        scope.selection.attr('src', scope.options.src);

        if (scope.options.responsive === 'yes') {
          scope.selection.addClass('img-responsive');
        } else {
          scope.selection.removeClass('img-responsive');
        }
      };
    </admin-script>
  </component>

  <component>
    <name>Close Icon</name>
    <template>
      <button type="button" class="close" aria-hidden="true">&times;</button>
    </template>
    <selector>button.close</selector>
  </component>
</components>
