<div class="panel panel-default" ng-init="open = true">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" href ng-click="open = !open">Events</a>
    </h4>
  </div>
  <div class="panel-collapse" ng-show="open">
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label class="control-label" for="eventEvent">Event</label>
          <select class="form-control input-sm" id="eventType"
            ng-model="event.type" ng-disabled="!selection"
            ng-options="name for name in names">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="eventAction">Action</label>
          <select class="form-control input-sm" id="eventAction"
            ng-model="event.action" ng-disabled="!selection">
            <option value=""></option>
            <option value="add">add row</option>
            <option value="update">update row</option>
            <option value="remove">remove row</option>
            <option value="visit">load page</option>
            <option value="custom">custom</option>
          </select>
        </div>

        <div class="form-group" ng-if="event.action === 'custom'">
          <label class="control-label" for="eventObject">Object</label>
          <input class="form-control" id="eventObject"
            ng-model="event.object">
        </div>

        <div class="form-group"
          ng-if="['add' , 'update', 'remove'].indexOf(event.action) > -1">
          <label class="control-label" for="eventObject">Object</label>
          <select class="form-control input-sm" id="eventObject"
            ng-model="event.object" ng-disabled="!selection"
            ng-options="table.name as table.name for table in app.tables">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group" ng-if="event.action === 'visit'">
          <label class="control-label" for="eventObject">Page</label>
          <select class="form-control input-sm" id="eventObject"
            ng-model="event.object" ng-disabled="!selection"
            ng-options="page.url as page.url for page in app.pages">
            <option value=""></option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
