<div id="editor" editor>
  <div id="structure" class="sidebar components">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Components</h4>
      </div>
      <div class="panel-body">
        <div class="component" ng-repeat="component in components"
          draggable="true" html="component.template">{{component.name}}</div>
      </div>
    </div>

    <collapse-button position="right"></collapse-button>
  </div>

  <div id="details" class="sidebar">
    <div class="panel-group">
      <component-options></component-options>
      <bindings></bindings>
      <events></events>
    </div>

    <collapse-button position="left"></collapse-button>
  </div>

  <div id="canvas">
    <div id="toolbar">
      <pages></pages>
      <div class="actions">
        <devices iframe=".edit-frame"></devices>
        <inspector></inspector>
      </div>
    </div>

    <editor-frame></editor-frame>

    <overlay iframe=".edit-frame"></overlay>
  </div>
</div>
