<div id="apps">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="" class="dropdown-toggle" ng-click="toggleAppsMenu()">
        {{currentApp.name}} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" ng-show="showAppsMenu">
        <li>
          <a href="" export-app>
            <span class="fa fa-download"></span> Export
          </a>
        </li>
        <li class="divider"></li>
        <li class="dropdown-header">Switch App</li>
        <li ng-repeat="app in apps" ng-class="{disabled: app.id === currentApp.id}">
          <a href="" ng-click="selectApp(app)">
            {{app.name}}
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="" ng-click="toggleAppsModal()">
            <span class="fa fa-plus"></span>
            New App
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <modal title="'New App'" submit="addApp()" close="hideAppsModal()"
    open="showAppsModal">
    <form class="form-horizontal" role="form" name="newAppForm"
      ng-submit="addApp()">
      <div class="form-group">
        <label for="input-new-app-name" class="col-lg-2 control-label">
          Name
        </label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="input-new-app-name"
          ng-model="app.name" required name="name" validation-class>
        </div>
      </div>
    </form>
  </modal>
</div>
