<div id="apps">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
      ng-click="toggleAppsMenu()">
      {{currentApp.name}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" ng-show="showAppsMenu">
      <li ng-repeat="app in apps"
      ng-class="{disabled: app.id === currentApp.id}">
      <a href="" ng-click="selectApp(app)">
        {{app.name}}
      </a>
      </li>
      <li class="divider"></li>
      <li>
      <a href="" ng-click="toggleAppsModal()">
        <span class="glyphicon glyphicon-plus"></span>
        New App
      </a>
      </li>
    </ul>
  </div>
  <button class="btn btn-primary navbar-btn" ng-click="download()">
    Download
  </button>

  <modal title="'New App'" submit="addApp()" close="hideAppsModal()"
    open="showAppsModal">
    <form class="form-horizontal" role="form" name="newAppForm"
      ng-submit="addApp()">
      <div class="form-group">
        <label for="input-new-app-name" class="col-lg-2 control-label">
          Name
        </label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="input-new-app-name"
          ng-model="$parent.app.name" required name="name" validation-class>
        </div>
      </div>
    </form>
  </modal>
</div>
