<component name="bootstrap-description" title="Description">
  <template>
    <dl>
      <dt>Defined Term 1</dt>
      <dd>This is the definition of Term 1.</dd>
      <dt>Defined Term 2</dt>
      <dd>This is the definition of Term 2.</dd>
    </dl>
  </template>
  <selector>dl</selector>
  <options>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="optionsDescriptionStyle"
          ng-model="options.horizontal" ng-change="update()">
        Horizontal style
      </label>
    </div>
  </options>
  <script>
    register('bootstrap-description', function (selection) {
      var options = this.options = {};

      if (selection.hasClass('dl-horizontal')) {
        options.horizontal = true;
      } else {
        options.horizontal = false;
      }

      this.update = function () {
        if (options.horizontal) {
          selection.addClass('dl-horizontal');
        } else {
          selection.removeClass('dl-horizontal');
        }
      };
    });
  </script>
</component>
