<component name="bootstrap-grid-column" title="Grid Column">
  <template>
    <div class="col-sm-6"></div>
  </template>
  <selector>
    div[class*='col-xs-'], div[class*='col-sm-'],
    div[class*='col-md-'], div[class*='col-lg-']
  </selector>
  <options>
    <div class="form-group">
      <label for="optionsGridColumnXs">Width on phones</label>
      <select id="optionsGridColumnXs" class="form-control"
        ng-options="k for k in options.zeroToTwelve" ng-change="update()"
        ng-model="options.widths.xs">
        <option value="">auto</option>
      </select>
    </div>
    <div class="form-group">
      <label for="optionsGridColumnSm">Width on tablets</label>
      <select id="optionsGridColumnSm" class="form-control"
        ng-options="k for k in options.zeroToTwelve" ng-change="update()"
        ng-model="options.widths.sm">
        <option value="">same as phones</option>
      </select>
    </div>
    <div class="form-group">
      <label for="optionsGridColumnMd">Width on desktops</label>
      <select id="optionsGridColumnMd" class="form-control"
        ng-options="k for k in options.zeroToTwelve" ng-change="update()"
        ng-model="options.widths.md">
        <option value="">same as tablets</option>
      </select>
    </div>
    <div class="form-group">
      <label for="optionsGridColumnLg">Width on large desktops</label>
      <select id="optionsGridColumnLg" class="form-control"
        ng-options="k for k in options.zeroToTwelve" ng-change="update()"
        ng-model="options.widths.lg">
        <option value="">same as desktops</option>
      </select>
    </div>
  </options>
  <script>
    register('bootstrap-grid-column', function (selection) {
      var screens = ['xs', 'sm', 'md', 'lg'];
      var currentClasses = [];
      var options = this.options = {widths: {}};

      options.zeroToTwelve = Array.apply(0, Array(12)).map(function (x, i) {
        return i + 1 + '';
      });

      // Gets all the column widths of the element.
      var classes = selection.attr('class');
      if (classes) {
        classes.split(' ').forEach(function (className) {
          var parts = className.split('-');
          var isColumn = parts[0] === 'col';
          var isBootstrapColumn = screens.indexOf(parts[1]) > -1;

          if (parts.length === 3 && isColumn && isBootstrapColumn) {
            currentClasses.push(className);
            options.widths[parts[1]] = parts[2];
          }
        });
      }

      // Updates the selection classes.
      this.update = function () {
        var newClasses = [];
        Object.keys(options.widths).forEach(function (screen) {
          if (options.widths[screen]) {
            newClasses.push('col-' + screen + '-' + options.widths[screen]);
          }
        });

        selection
          .removeClass(currentClasses.join(' '))
          .addClass(newClasses.join(' '));

        currentClasses = angular.copy(newClasses);
      };
    });
  </script>
</component>
