<component name="bootstrap-heading" title="Heading">
  <template>
    <h1>This is a heading.</h1>
  </template>
  <selector>h1, h2, h3, h4, h5, h6</selector>
  <options>
    <div class="form-group">
      <label for="optionsHeadingType">Type</label>
      <select id="optionsHeadingType" ng-model="options.type"
        ng-options="k.value as k.label for k in options.types"
        ng-change="update()">
      </select>
    </div>
  </options>
  <script>
    register('bootstrap-heading', function () {
      var options = this.options = {};

      options.types = Array.apply(0, Array(6)).map(function (x, i) {
        var j = i + 1;
        return {value: 'H' + j, label: 'heading ' + j};
      });
      options.type = selection.prop('nodeName');

      this.update = function () {
        var newElement = document.createElement(options.type);
        newElement = angular.element(newElement);
        newElement.append(selection.contents());
        selection.replaceWith(newElement);
        selection = newElement;
      };
    });
  </script>
</component>
