<component name="bootstrap-image" title="Image">
  <template>
    <img src="http://placehold.it/100x100" alt="">
  </template>
  <selector>img</selector>
  <options>
    <div class="form-group">
      <label for="optionsImageSrc">URL</label>
      <input type="text" id="optionsImageSrc" ng-model="options.src"
        ng-change="update()">
    </div>
    <div class="form-group">
      <label for="optionsImageResponsive">Responsive</label>
      <select id="optionsImageResponsive" ng-model="options.responsive"
        ng-options="k for k in ['yes', 'no']" ng-change="update()">
      </select>
    </div>
  </options>
  <script>
    register('bootstrap-image', function (selection) {
      var options = this.options = {};

      options.src = selection.attr('src');

      if (selection.hasClass('img-responsive')) {
        options.responsive = 'yes';
      } else {
        options.responsive = 'no';
      }

      this.update = function () {
        selection.attr('src', options.src);

        if (options.responsive === 'yes') {
          selection.addClass('img-responsive');
        } else {
          selection.removeClass('img-responsive');
        }
      };
    });
  </script>
</component>
