<component name="bootstrap-list" title="List">
  <template>
    <ul>
      <li>List item 1.</li>
      <li>List item 2.</li>
      <li>List item 3.</li>
    </ul>
  </template>
  <selector>ul, ol</selector>
  <options>
    <div class="form-group">
      <label for="optionsListType">Type</label>
      <select id="optionsListType" ng-model="options.type"
        ng-options="k as v for (k,v) in options.types"
        ng-change="update()">
      </select>
    </div>
    <div class="form-group">
      <label for="optionsListStyle">Style</label>
      <select id="optionsListStyle" ng-model="options.style"
        ng-options="k for k in ['unstyled', 'inline']"
        ng-change="update()">
        <option value="">normal</option>
      </select>
    </div>
  </options>
  <script>
    register('bootstrap-list', function (selection) {
      var options = this.options = {};

      options.types = {UL: 'unordered', OL: 'ordered'};
      options.type = selection.prop('nodeName');

      if (selection.hasClass('list-unstyled')) {
        options.style = 'unstyled';
      } else if (selection.hasClass('list-inline')) {
        options.style = 'inline';
      }

      this.update = function () {
        var newElement = document.createElement(options.type);
        newElement = angular.element(newElement);
        newElement.append(selection.contents())
          .removeClass('list-inline list-unstyled')
          .addClass('list-' + options.style);

        selection.replaceWith(newElement);
        selection = newElement;
      };
    });
  </script>
</component>
