<component name="bootstrap-radio" title="Radio">
  <template>
    <div class="form-group">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" value="1" checked>
          <span>Radio Option 1</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" value="2">
          <span>Radio Option 2</span>
        </label>
      </div>
    </div>
  </template>
  <selector>input[type="radio"]</selector>
</component>
