<components>
  <component>
    <name>container</name>
    <thumbnail></thumbnail>
    <template>
      <div class="container"></div>
    </template>
    <selector>.container</selector>
  </component>

  <component>
    <name>grid row</name>
    <thumbnail></thumbnail>
    <template>
      <div class="row">
        <div class="col-sm-8">
          <h4>This is a heading.</h4>
          <p>This is a paragraph.</p>
        </div>
        <div class="col-sm-4">
          <h4>This is a heading.</h4>
          <p>This is a paragraph.</p>
        </div>
      </div>
    </template>
    <selector>.row</selector>
  </component>

  <component>
    <name>grid column</name>
    <thumbnail></thumbnail>
    <template>
      <div class="col-sm-4">
        <h4>This is a heading.</h4>
        <p>This is a paragraph.</p>
      </div>
    </template>
    <selector>[class*='col-']</selector>
    <admin>
      <form role="form">
        <div class="form-group">
          <label for="optionsGridColumnWidth">Column width</label>
          <select class="form-control input-sm" id="optionsGridColumnWidth" ng-model="options.width" required="" ng-change="change()" ng-options="k for k in options.widths">
          </select>
        </div>
        <div class="form-group">
          <label for="optionsGridColumnDevices">Collapse on</label>
          <select class="form-control input-sm" id="optionsGridColumnDevices" ng-model="options.devices" required="" ng-change="change()">
            <option value="lg">all small and medium screens</option>
            <option value="md">tablets and phones</option>
            <option value="sm">phones only</option>
            <option value="xs">neither</option>
          </select>
        </div>
      </form>
    </admin>
    <admin-script>
      var classes = [];
      var currentDeviceWidthClass = '';

      scope.options.widths = Array.apply(0, Array(12)).map(function (x, i) {
        return i + '';
      });

      // Gets all the column classes of the element.
      scope.selection.attr('class').split(' ').forEach(function (c) {
        if (c.indexOf('col-') === 0) {
          c = c.split('-');
          classes.push({
            devices: c[1],
            width: c[2]
          });
        }
      });

      // Gets the width and column type of the current element.
      ['xs', 'sm', 'md', 'lg'].some(function (t) {
        classes.some(function (c) {
          if (c.devices === t) {
            scope.options.devices = c.devices;
            scope.options.width = c.width;
            currentDeviceWidthClass = 'col-' + c.devices + '-' + c.width;
            return true;
          }
        });
      });

      // Updates the selection classes.
      scope.updateSelection = function () {
        var newDeviceWidthClass = 'col-' + scope.options.devices + '-' +
                                  scope.options.width;

        scope.selection.removeClass(currentDeviceWidthClass)
          .addClass(newDeviceWidthClass);

        currentDeviceWidthClass = newDeviceWidthClass;
      };
    </admin-script>
  </component>

  <component>
    <name>heading</name>
    <thumbnail></thumbnail>
    <template>
      <h1>This is a heading.</h1>
    </template>
    <selector>h1, h2, h3, h4, h5, h6</selector>
  </component>

  <component>
    <name>paragraph</name>
    <thumbnail></thumbnail>
    <template>
      <p>This is a paragraph.</p>
    </template>
    <selector>p</selector>
  </component>

  <component>
    <name>address</name>
    <thumbnail></thumbnail>
    <template>
      <address>
        <strong>Full Name</strong><br>
        000 Fake Ave, Suite 000<br>
        San Francisco, CA 00000<br>
        USA
        <abbr title="Phone">P:</abbr> (123) 456-7890<br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
    </template>
    <selector>address</selector>
  </component>

  <component>
    <name>blockquote</name>
    <thumbnail></thumbnail>
    <template>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
    </template>
    <selector>blockquote</selector>
  </component>

  <component>
    <name>list</name>
    <thumbnail></thumbnail>
    <template>
      <ul>
        <li>List item 1.</li>
        <li>List item 2.</li>
        <li>List item 3.</li>
      </ul>
    </template>
    <selector>ul</selector>
  </component>

  <component>
    <name>description</name>
    <thumbnail></thumbnail>
    <template>
    <dl>
      <dt>Defined Term 1</dt>
      <dd>This is the definition of Term 1.</dd>
      <dt>Defined Term 2</dt>
      <dd>This is the definition of Term 2.</dd>
    </dl>
    </template>
    <selector>dl</selector>
  </component>

  <component>
    <name>table</name>
    <thumbnail></thumbnail>
    <template>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </template>
    <selector>table</selector>
  </component>

  <component>
    <name>form</name>
    <thumbnail></thumbnail>
    <template>
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">Input label</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </template>
    <selector>form</selector>
  </component>

  <component>
    <name>text input</name>
    <thumbnail></thumbnail>
    <template>
    </template>
    <condition>
    </condition>
  </component>

  <component>
    <name>textarea</name>
    <thumbnail></thumbnail>
    <template>
    </template>
    <condition>
    </condition>
  </component>

  <component>
    <name>checkbox</name>
    <thumbnail></thumbnail>
    <template>
    </template>
    <condition>
    </condition>
  </component>

  <component>
    <name>radio</name>
    <thumbnail></thumbnail>
    <template>
    </template>
    <condition>
    </condition>
  </component>

  <component>
    <name>select</name>
    <thumbnail></thumbnail>
    <template>
    </template>
    <condition>
    </condition>
  </component>

  <component>
    <name>button</name>
    <thumbnail></thumbnail>
    <template>
      <button type="button" class="btn btn-default">Button</button>
    </template>
    <condition>
    </condition>
  </component>

  <component>
    <name>image</name>
    <thumbnail></thumbnail>
    <template>
      <img src="http://placehold.it/100x100" alt="">
    </template>
    <condition>
    </condition>
  </component>
</components>