<div id="database">
  <div class="tables">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Table 1</a></li>
      <li><a href="#">Table 2</a></li>
    </ul>
    <button class="btn btn-link navbar-btn">
      <span class="glyphicon glyphicon-plus"></span>
      New Table
    </button>
  </div>

  <div class="actions">
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      Row
    </button>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-minus"></span>
      Row
    </button>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-minus"></span>
      All Rows
    </button>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      Column
    </button>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-minus"></span>
      Column
    </button>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-circle-arrow-up"></span>
      Import
    </button>
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-circle-arrow-down"></span>
      Export
    </button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>id</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>