<div class="panel panel-default" ng-init="open = true">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" href="" ng-click="open = !open">Data Binding</a>
    </h4>
  </div>
  <div class="panel-collapse" ng-show="open">
    <div class="panel-body">
      <form ng-if="tables && tables.length > 0">
        <fieldset ng-disabled="!selection">
          <div class="form-group" ng-show="!isInput">
            <label class="control-label" for="bindingsBind">Content</label>
            <input class="form-control" id="bindingsContent" ng-model="bindings.bind">
          </div>

          <div class="form-group" ng-show="isInput">
            <label class="control-label" for="bindingsModel">Content</label>
            <input class="form-control" id="bindingsModel" ng-model="bindings.model">
          </div>

          <div class="form-group">
            <label class="control-label" for="bindingsRepeat">
              Repeat for each
            </label>
            <select class="form-control" id="bindingsRepeat" ng-options="table.name as table.name for table in tables" ng-model="bindings.repeat">
              <option value=""></option>
            </select>
          </div>

          <div class="form-group" ng-show="bindings.repeat">
            <label class="control-label">Filters</label>
            <p ng-repeat="filter in bindings.filters">
              <input ng-model="filter.name" placeholder="column" style="width: 48%">
              <input ng-model="filter.value" placeholder="value" style="width: 48%">
            </p>
            <p>
              <button class="btn btn-default btn-sm" ng-click="bindings.filters.push({})">Add filter</button>
            </p>
          </div>

          <div class="form-group">
            <label class="control-label" for="bindingsClass">CSS Classes</label>
            <p ng-repeat="class in bindings.classes">
              <input ng-model="class.name" placeholder="class" style="width: 48%">
              <input ng-model="class.value" placeholder="condition" style="width: 48%">
            </p>
            <p>
              <button class="btn btn-default btn-sm" ng-click="bindings.classes.push({})">Add class</button>
            </p>
          </div>
        </fieldset>
      </form>
      <p ng-if="!tables || tables.length === 0">There're no tables in the database.
        <a href="#/database">Create tables.</a></p>
    </div>
  </div>
</div>