<div id="database">
  <div class="tables" ng-if="hasTables()">
    <ul class="nav nav-tabs">
      <li ng-repeat="table in app.tables" ng-class="{active: table.name === currentTable.name}">
        <a href="" ng-click="selectTable($index)">{{table.name}}</a>
      </li>
    </ul>
    <button class="btn btn-link navbar-btn" ng-click="showModal.newTable = true">
      <span class="glyphicon glyphicon-plus"></span>
      New Table
    </button>
  </div>

  <div class="actions" ng-if="hasTables()">
    <button class="btn btn-default" ng-click="showModal.newRow = true">
      <span class="glyphicon glyphicon-plus"></span>
      Add Row
    </button>
    <button class="btn btn-default" ng-click="showModal.newColumn = true">
      <span class="glyphicon glyphicon-plus"></span>
      Add Column
    </button>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" ng-click="showMenu.actions = !showMenu.actions">
        More <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" ng-show="showMenu.actions">
        <li><a href="" ng-click="showModal.deleteColumn = true">
          Delete Column
        </a></li>
        <li><a href="" ng-click="emptyTable()">Empty Table</a></li>
        <li><a href="" ng-click="deleteTable()">Delete Table</a></li>
      </ul>
    </div>
  </div>

  <div class="rows" ng-grid="gridOptions"></div>

  <modal title="'New Table'" submit="addTable()" close="showModal.newTable = false" closeable="hasTables()" open="!hasTables() || showModal.newTable">
    <form class="form-horizontal" action="" name="newTableForm" ng-submit="addTable(newTable)">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="newTableName">
          Table Name
        </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="newTableName" required="" ng-model="$parent.newTable.name" name="name" validation-class="" ng-pattern="/^[a-zA-Z_][a-zA-Z0-9_]*$/">
          <span class="help-block">Must begin with a letter or underscore and
            only contain letters, underscores or digits.</span>
        </div>
      </div>
    </form>
  </modal>

  <modal title="'New Column'" submit="addColumn()" close="showModal.newColumn = false" open="showModal.newColumn">
    <form class="form-horizontal" action="" name="newColumnForm" ng-submit="addColumn()">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="newColumnName">
          Name
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="newColumnName" required="" ng-model="$parent.newColumn.name" ng-pattern="/^[a-zA-Z_][a-zA-Z0-9_]*$/" name="name" validation-class="">
          <span class="help-block">Must begin with a letter or underscore and
            only contain letters, underscores or digits.</span>
        </div>
      </div>
    </form>
  </modal>

  <modal title="'Delete Column'" submit="deleteColumn()" close="showModal.deleteColumn = false" open="showModal.deleteColumn">
    <form class="form-horizontal" action="" name="deleteColumnForm" ng-submit="deleteColumn()">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="deleteColumnName">
          Name
        </label>
        <div class="col-sm-6">
          <select class="form-control" id="deleteColumnName" validation-class="" ng-model="$parent.$parent.columnToDelete" name="name" required="" ng-options="i as column.name for (i, column) in $parent.currentTable.columns">
          </select>
        </div>
      </div>
    </form>
  </modal>

  <modal title="'New Row'" submit="addRow()" close="showModal.newRow = false" open="showModal.newRow">
    <form class="form-horizontal" action="" ng-submit="addRow()">
      <div class="form-group" ng-repeat="column in currentTable.columns">
        <label class="col-sm-4 control-label" for="newRow_{{column.name}}">
          {{column.name}}
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="newRow_{{column.name}}" ng-model="newRow[column.name]" ng-disabled="isDefaultColumn(column)">
        </div>
      </div>
    </form>
  </modal>
</div>