<div class="panel panel-default" ng-init="open = true">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" href ng-click="open = !open">Data Binding</a>
    </h4>
  </div>
  <div class="panel-collapse" ng-show="open">
    <div class="panel-body">
      <form ng-if="tables && tables.length > 0">
        <div class="form-group">
          <label class="control-label" for="bindingsTable">Database Table</label>
          <select class="form-control input-sm" id="bindingsTable"
            ng-model="bindings.table" ng-disabled="!selection"
            ng-options="table.name as table.name for table in tables">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="bindingsColumn">Database Column</label>
          <select class="form-control input-sm" id="bindingsColumn"
            ng-model="bindings.column" ng-disabled="!selection"
            ng-options="column.name as column.name for column in columns">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="bindingsRepeat">Repeat Element</label>
          <select class="form-control input-sm" id="bindingsRepeat"
            ng-model="bindings.repeat" ng-disabled="!selection">
            <option value="no">no</option>
            <option value="yes">yes</option>
          </select>
        </div>
      </form>
      <p ng-if="!tables || tables.length === 0">There're no tables in the database.
        <a href="#/database">Create tables.</a></p>
    </div>
  </div>
</div>
