<div id="structure" class="sidebar" ng-init="panel = 'components'">
  <ul class="nav nav-tabs nav-justified">
    <li ng-class="{active: panel === 'components'}">
      <a href ng-click="loadPanel('components')">Components</a>
    </li>
    <li ng-class="{active: panel === 'pages'}">
      <a href ng-click="loadPanel('pages')">Pages</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="components"
      ng-class="{active: panel === 'components'}">
      <div class="component" ng-repeat="component in components"
        draggable="true" html="component.template">{{component.name}}</div>
    </div>

    <div class="tab-pane" id="pages" ng-class="{active: panel === 'pages'}">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">/</a></li>
        <li><a href="#">/products</a></li>
        <li><a href="#">/products/:id</a></li>
      </ul>
      <button class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        New Page
      </button>
    </div>
  </div>

  <collapse-button position="right"></collapse-button>
</div>

<div id="details" class="sidebar">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" href>Style</a>
        </h4>
      </div>
      <div class="panel-collapse">
        <div class="panel-body">
          <component-options></component-options>
        </div>
      </div>
    </div>
  </div>

  <collapse-button position="left"></collapse-button>
</div>

<editor-frame template="currentPage.template"></editor-frame>
