<div ng-controller="NavbarCtrl" ng-show="show">
  <div class="navbar navbar-default">
    <div class="navbar-brand">BRICKS</div>
    <ul class="nav navbar-nav">
      <li activelink="active"><a href="#">Editor</a></li>
      <li activelink="active"><a href="#/database">Database</a></li>
      <li activelink="active"><a href="#/settings">Settings</a></li>
      <li activelink="active"><a href="#/about">About</a></li>
    </ul>

    <div id="apps">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
          ng-click="toggleAppsMenu()">
          {{currentApp.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" ng-show="showAppsMenu">
          <li ng-repeat="app in apps"
              ng-class="{disabled: app.id === currentApp.id}">
            <a href="" ng-click="selectApp(app)">
              {{app.name}}
            </a>
          </li>
          <li class="divider"></li>
          <li>
          <a href="" ng-click="toggleAppsModal()">
            <span class="glyphicon glyphicon-plus"></span>
            New App
          </a>
          </li>
        </ul>
      </div>
      <button class="btn btn-default navbar-btn">Preview</button>
      <button class="btn btn-primary navbar-btn">Publish</button>
    </div>
  </div>

  <modal title="'New App'" submit="addApp()" close="hideAppsModal()"
    open="showAppsModal">
    <form class="form-horizontal" role="form"
      ng-submit="addApp()">
      <div class="form-group">
        <label for="input-new-app-name" class="col-lg-2 control-label">
          Name
        </label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="input-new-app-name"
          ng-model="app.name">
        </div>
      </div>
    </form>
  </modal>
</div>
